*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Python virtual environment
composeApp/src/desktopMain/resources/venv/
**/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# iOS Pods
iosApp/Pods/
iosApp/Podfile.lock

# macOS
.DS_Store
